@model MVC.Models.Carrinho;
@{
  ViewData["Title"] = "Cadastro de pedidos";
}

<div class="container container-xl">
    <div class="jumbotron">
        <center><h2 id="listagemTitulo">Cadastrar pedido</h2></center>
        <form class="container" asp-controller="Carrinho" asp-action="Adicionar" method="post">
          <div class="form-group">
            <label>Nome Item: </label>
            <input type="text" class="form-control" asp-for="nomePedido" placeholder="Escreva o nome do produto aqui">
          </div>

          <div class="form-group">
            <label>Descrição do Item: </label>
            <input type="text" class="form-control" asp-for="descricao">
          </div>

          <div class="form-group">
            <label>Quantidade do Item: </label>
            <input type="number" class="form-control" asp-for="qtdPedido">
          </div>

          <div class="form-group">
            <label>Preço do Item: </label>
            <input type="text" class="form-control" asp-for="precoPedido">
          </div>

          <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Cadastrar</button>
          <button asp-controller="Carrinho" asp-action="Index" class="btn btn-danger" style="margin-top: 5px;">Voltar</button>
        </form>
    </div>
</div>