@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGR</title>
    
    <link rel="stylesheet" href="../css/_Main.css"/> 
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/1788d3ed3e.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
    </header>
</body>