

body{
  margin: 0;
  padding: 0;
  background: url(background.jpg) no-repeat center center;
  background-size: cover;
  height: 92vh;
}

/* Rodapé */
footer {
  position: absolute;
  bottom: 0px;
  background-color: #004C40;
  color: #FFF;
  width: 100%;
  height: 40px;    
  text-align: center;
  align-items: center;
  font-family: 'Trykker';
  font-size: 20pt;
}

/* Barra do menu */
/* .navbar{
  margin-top: 50px;
  background-color: #E8DABF;
  font-family: 'Trykker';
  font-size: 20pt;
}

.nav-item{
  padding-right: 80px;
  padding-left: 80px;
}

.aba{
  color:black;
  text-decoration: none;
}
.aba:hover{
  color: #004C40;
} */

/* Barra dos nossos trabalhos */
#trabalhos{
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #E8DABF;
  border-radius: 8px;
  border:  solid #004C40 2px;
  margin-top: 45px;
  
  margin-top: 50px;
}

#trabalhos a{
  color: #004C40;
  font-size: 23px;
  text-decoration: none;
  font-family: 'Trykker';
}

#trabalhos a:hover{
  color: black;
}

/* Barra de pesquisa */
.barra{
  width: 400px;
  height: 40px;
  border: solid 2px #004C40;
  border-radius: 7px;
  margin-top: 10px;
}

/* Botão de busca */
#botao-busca {
  height: 40px;
  width: 50px;
  margin-top: 10px;
}

#d-flex{
  margin: 0;
}

/* Cards */

#card_carrinhos{
    display: flex;
    flex-direction: row;
    width: 45%;
    border: solid 3px #004C40;
}

.card__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-left: 20px;
  
}

.card__left > button{
  width: 200px;
  margin-top: 30px;
}

.card__left > span{
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Trykker';

}

#preco{
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Arial';
  font-weight: bold;

}

.card__left > h2{
  font-size: 15pt;
}

.card__right{
  border: 5px blue;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background-color: white;
}




.logo{
  display: flex;
  position: absolute;
  left: 20px;
  width: 110px;
}




.Imagem_Porta{
  height: 300px;
}

#barra-nav{
  font-size: 25px;
}

.d-flex{
  justify-content: center;
}

*{
  box-sizing: border-box;
}

#usuarioIcon{
  padding-right: 10px;
  width: 40px;
  height: 40px;
}
#carrinhoIcon{
  padding-left: 30px;
  padding-right: 20px;
}

#subtitulo1{
  font-size:15pt;
  text-align: center;
  margin-top: 15px;
  justify-content: center;
  font-family: 'Trykker'
}

#subtitulo2{
  font-size:15pt;
  margin-top: 15px;
  font-family: 'Trykker';
  text-align: center;
}

/* Formatação da barra do menu */

.nav-list{
  align-items: center;
  
}

/* Textos */
.nav-list li a{
  color: black;
  text-decoration: none;
  list-style: none;
}


/* Textos com o mouse emcima */
.nav-list li a:hover {
  text-transform:capitalize;
  color: #004C40;
  
  
}

#Texto_Carrinho{
  text-decoration: none;
  color: #E8DABF;
}

/* Barra principal */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Trykker';
  background: #E8DABF;
  height: 10vh;
  font-size: 20pt;
  }

.nav-list {
  list-style: none;
  display: flex;
  text-align: center;
  
}
.nav-list li {
  letter-spacing: 1px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  margin-top: 10px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

/* Icone */
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #004C40;
  margin: 8px;
  transition: 0.5s;
}

.nav-list.active{
  transform: translateX(0);
  margin-left: 0;
  transition: 0.5s;
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

}

.search-text{
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  width: 0;
  padding: 0;
  transition: 0.4s;
}

.loupe-white{
  display: none;
}

.search-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-box:hover > .search-text{
  width: 320px;
  padding-left: 20px;
}

.search-box:hover > .search-btn{
  background: #004C40;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.search-box:hover > .search-btn .loupe-blue{
  display: none;
  text-decoration: none;
}

.search-box:hover > .search-btn .loupe-white{
  display: block;
  background: none;

}

.card{
  position: absolute;
  float: left;
  align-items: center;
  margin: 20px;

}

/* Icone QrCode ---------------------------------------*/
.QrCode{
  text-align: center;
  height: 300px;
  weight: 300px;
}

.form-group{
  width: 100%;
}


/* Icones de carrinho e login ---------------------------------------------*/

table{
  float: right;
  position: flex;
  left: 50%;
}

td{
  text-align: center;
  padding: 2px;   
}

#sub{
  color: #E8DABF;;
  text-align: center;
  margin: 0;
  font-family: 'Trykker';
  font-size: 15pt; 
}

/* FIM ----------------------------------------------------------------*/



@media (max-width: 999px){
  body{
      overflow-x: hidden;
  }
  .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #E8DABF;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform .5s ease-in;
      padding-top: 0px;
  }

  .nav-list li{
      margin-left: 0px;
      opacity: 0;

  }



  .mobile-menu{
      display: block;
      
      
  }

  footer {
    position: relative;
    bottom: 0px;
    background-color: #004C40;
    color: #FFF;
    width: 100%;
    height: 40px;    
    text-align: center;
    align-items: center;
    font-family: 'Trykker';
    font-size: 14pt;
  }

}

@keyframes navLinkFade{
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.mobile-menu.active{
  padding-right: 100px;
  
}