@model MVC.Models.Login;
@{
    ViewData["Title"] = "Tela de login";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style_login.css">
    <script src="https://kit.fontawesome.com/1788d3ed3e.js" crossorigin="anonymous"></script>

</head>
<body>


    <div class="fundo_login">
        <center><h2>Login</h2></center><br>


                <input type="text" asp-for="email" placeholder="Email"><br><br>
                @Html.ValidationMessageFor(x => x.email)


                <input type="password" asp-for="senha" placeholder="Senha"><br><br>
                @Html.ValidationMessageFor(x => x.senha)

                <a class="botao" asp-controller="Usuario" asp-action="Entrar">Entrar</a>


    </div><br>
    <div>
    <h3>Ainda não possuí um cadastro ? Clique aqui</h3></div>
</body>